test_logintest1.py
test_newLogin.py

# Allure reports
allure-results/
allure-report/
allure-result

# HTML reports
report.html

# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# PyCharm
.idea/

# Test downloads
downloads/

# Playwright
playwright/.cache/
