test_logintest1.py
test_newLogin.py

# Allure reports
allure-results/
oldAssignment/allure-report/
oldAssignment/allure-result

# HTML reports
report.html

# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# PyCharm
.idea/

# Test downloads
oldAssignment/downloads/

# Playwright
playwright/.cache/
